<div class="container-fluid tecnologia-content">
  <div class=" row row-tecnologia">
    <div class="col-md-6 col-sm-12 col-xs-12 fondo-container-tecnologia">
      <div>
        <h1>
          Encuentra todo lo que necesitas
        </h1>
        <button class="boton-proyectos">Contáctanos</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 imagen-container-tecnologia">
        <!-- <img src="../../../../assets/images/domotica.jpg" alt=""> -->
    </div>
  </div>
</div>

