<div class="header">
  <div class="menu-principal-redes">
    <div class="siguenos d-flex ">
      <p class="redes align-items-center justify-content-start">
        <a href="https://www.facebook.com/share/1A3PRQzJHb/" target="_blank"><span class="color-gris"><i class="fa-brands fa-facebook-f"></i></span></a>
        <a href="https://www.instagram.com/civitech.es?igsh=MTVxNjQwcjkwODNsaw==" target="_blank"><span class="color-gris"><i class="fa-brands fa-instagram"></i></span></a>
        <a href=""><span class="color-gris"><i class="fa-brands fa-linkedin-in" target="_blank"></i></span></a>
        <a href="https://www.tiktok.com/@civitech.es?_t=ZG-8t9VrCIYaPo&_r=1" target="_blank"><span class="color-gris"><i class="fa-brands fa-tiktok"></i></span></a>
      </p>
    </div>
  </div>
    <div class="container-fluid container-menu-items" >
      <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <a href="" ><img class="logo" src="../../../../assets/images/logo_negro_horizontal.png" alt=""></a>
        </div>
        <div class="col-md-9 container-menu">
          <ul class=" menu-items d-flex list-unstyled">
            <li><a href="/" class="text-decoration-none text-shadow">Acerca de Nosotros</a></li>
            <li><a href="/" class="text-decoration-none text-shadow">Domótica</a></li>
            <li><a href="/" class="text-decoration-none text-shadow">Proyectos</a></li>
            <li><a href="/" class="text-decoration-none text-shadow">Reformas</a></li>
            <li><a href="/" class="text-decoration-none text-shadow item-menu-contacto">Contactanos <i class="fas fa-chevron-down"></i>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
