<banner-civitech imageUrl='/../../../assets/images/contact2.jpg'
    mensaje="Contacta con Civitec Domótica: Expertos en Domótica en Zaragoza" textoBoton="Ver Proyectos" urlBoton="/proyectos"
    whatsappTexto="Pídeme presupuesto por WhatsApp" [isH1]="true">
</banner-civitech>

<separador-civitech title='Contáctanos' data-aos="fade-up"></separador-civitech>

<formulario-contacto-civitech data-aos="fade-up"></formulario-contacto-civitech>

<separador-civitech title='Lo que opinan de nosotros' data-aos="fade-up"></separador-civitech>

<carrousel-opiniones-civitech [opiniones]="opiniones" data-aos="fade-up"></carrousel-opiniones-civitech>