<banner-civitech imageUrl='../../../assets/images/contact2.jpg' mensaje="En Civitech estamos siempre disponibles, por teléfono, email o a través de nuestro formulario en la web." textoBoton="Contactanos"></banner-civitech>

<separador-civitech title='Contáctanos' ></separador-civitech>

<formulario-contacto-civitech></formulario-contacto-civitech>
<div class="container-fluid d-flex proyectos-content">
  <div class="justify-content-center align-items-center">
    <h1>Algunos de nuestros proyectos</h1>
    <p>Descubre proyectos y explora soluciones inteligentes para tu hogar</p>
    <button class="boton-proyectos">Conoce más acerca de nosotros</button>
  </div>
</div>
<div style="padding-bottom: 100px;">
  <carrousel-opiniones-civitech  [opiniones]="opiniones" ></carrousel-opiniones-civitech>
</div>

<separador-civitech title='Domótica' ></separador-civitech>

<domotica-civitech></domotica-civitech>

<!-- <tecnologia-civitech></tecnologia-civitech> -->


