
<div class="container-fluid d-flex proyectos-content">
  <div class="justify-content-center align-items-center">
    <h1>PROYECTOS</h1>
    <p>Descubre proyectos y explora soluciones inteligentes para tu hogar</p>
    <button class="boton-proyectos" (click)="navigate()">Conoce más acerca de nosotros</button>
  </div>
</div>

<div class=" domotica-mensaje-container">
  <h1>Un hogar inteligente para una vida más cómoda...</h1>
</div>

<div style="padding-bottom: 100px;">
  <carrousel-opiniones-civitech  [opiniones]="opiniones" ></carrousel-opiniones-civitech>
</div>

<separador-civitech title='Contáctanos' ></separador-civitech>

<formulario-contacto-civitech></formulario-contacto-civitech>


