/* You can add global styles to this file, and also import other style files */
// Variables de colores
$primary-color: #B30000;
$secondary-color: #121524;
$background-color: #f8f9fa;
$text-color-primary: #4F4F4F;
$text-color-secundary: #A7A7A7;
// Variables de fuente
$font-title: 'Hanken Grotesk', sans-serif;
$font-subtitle: 'Hanken Grotesk', sans-serif;
$font-body: 'Hanken Grotesk', sans-serif;
