<banner-civitech
  imageUrl="/../../../assets/images/contact2.jpg"
  mensaje="En Civitech estamos siempre disponibles, por teléfono, email o a través de nuestro formulario en la web."
  textoBoton="Ver Proyectos"
  urlBoton="/proyectos"
></banner-civitech>

<separador-civitech title="¡Gracias por tu mensaje!" ></separador-civitech>

<div class="gracias-content">
  <h2>Hemos recibido tu mensaje</h2>
  <p>En breve nos pondremos en contacto contigo.</p>
  <button class="btn-volver" (click)="volverInicio()">Volver al inicio</button>
</div>

<separador-civitech title="Lo que opinan de nosotros"></separador-civitech>

<carrousel-opiniones-civitech [opiniones]="opiniones"></carrousel-opiniones-civitech>
