@import "../../../../styles.scss";

/* Ajustes generales del contenedor de las reseñas */
.datos-resenia-content {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.resenia-container {
  padding: 50px 50px 30px 50px;
}
.datos-resenia-content p{
  text-align: justify;
}
.imagen-carrousel {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.estrellas
{
  padding-bottom: 15px;
}

/*----------------------------------------Asegura que el carrusel se adapte a móviles---------------------------------*/
// @media (max-width: 768px) {

// }


