<div class="banner-container" [ngStyle]="!videoUrl ? {'background-image': 'url(' + imageUrl + ')'} : {}">
  <!-- Video Background -->
  <video *ngIf="videoUrl" [src]="videoUrl" autoplay [muted]="true" loop playsinline class="banner-video"
    oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>

  <div class="overlay"></div>
  <div class="banner-content" data-aos="fade-right" data-aos-duration="1200">
    <div class="mensaje-container">
      <div class="mensaje-items">
        <h1 data-aos="fade-up" data-aos-delay="200">{{mensaje}}</h1>
        <button class="boton-proyectos" (click)="navigate()" data-aos="fade-up"
          data-aos-delay="400">{{textoBoton}}</button>
      </div>
    </div>
  </div>
</div>