<div class=" domotica-mensaje-container" data-aos="fade-down">
  <h1>Soluciones inteligentes para tu día a día</h1>
  <p class="subtitle">Descubre cómo la domótica real (sin nubes, sin cables, sin complicaciones) mejora tu vida.</p>
</div>

<div class="domotica-content">
  <div class="container-fluid">
    <div class="container-card">

      <!-- CARDS DINÁMICAS DESDE EL SERVICIO -->
      <div class="card-domotica clickable" *ngFor="let useCase of useCases; let i = index" [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="(i + 1) * 100" (click)="verUseCase(useCase.slug)">
        <div class="container-icon-domotica">
          <i class="fas {{ useCase.icono }}"></i>
        </div>
        <p class="titulo">{{ useCase.titulo }}</p>
        <p>{{ useCase.descripcion }}</p>
        <div class="card-footer-info">Saber más <i class="fas fa-arrow-right"></i></div>
      </div>

    </div>
  </div>
</div>