<div class=" domotica-mensaje-container">
  <h1>Un hogar conectado, una vida mejor...</h1>
</div>

<div class="domotica-content">
  <div class="container-fluid">
        <div class=" container-card d-flex">
          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-dog"></i>
            </div>
            <p class="titulo">¿Tienes perro y te preocupa dejarlo solo en casa?</p>
            <p>Instala cámaras inteligentes y vigila a tu mascota desde cualquier lugar. Recibe alertas si detectan movimientos sospechosos y mantén la tranquilidad sabiendo que todo está bajo control.</p>
          </div>
          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-thermometer-half"></i>
            </div>
            <p class="titulo">¿Quieres que la calefacción o el ac se enciendan 10 minutos antes de llegar?</p>
            <p>Con nuestra domótica, puedes encender o apagar la climatización a distancia. Además, si se abre una ventana, el sistema se apaga automáticamente para evitar derroches, ¡solo si tú lo decides!</p>
          </div>

          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-window-maximize"></i>
            </div>
            <p class="titulo">¿Te gustaría automatizar las persianas?</p>
            <p>Haz que tus persianas se suban al amanecer y se bajen al anochecer automáticamente. Incluso puedes programar excepciones para los fines de semana. ¡Más comodidad imposible!. </p>
          </div>
          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <p class="titulo">¿Cansado de tener una aplicacion para cada dispositivo?</p>
            <p>Todo tu hogar, controlado desde tu móvil o tablet. Automatiza, monitorea y disfruta de la comodidad y seguridad que siempre quisiste.</p>
          </div>
          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-house-user"></i>
            </div>
            <p class="titulo">¿Quieres encender electrodomésticos cuando hay energía solar de sobra?</p>
            <p>Nuestro sistema detecta cuando hay excedente de energía y enciende automáticamente el electrodoméstico que elijas. ¡Aprovecha cada rayo de sol!</p>
          </div>

          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-lightbulb"></i>
            </div>
            <p class="titulo">Te has dejado las luces encendidas?</p>
            <p>Con nuestro sistema de iluminación inteligente, las luces se apagan solas cuando no estás en casa. Ajusta la intensidad, el color y el horario de encendido y apagado desde tu smartphone o con comandos de voz. Ademas podemos definir reglas para que se enciendan o se apaguen cuando ciertas condiciones se cumplan.</p>
          </div>
          <div class=" card-domotica">
            <div class="container-icon-domotica">
              <i class="fas fa-tint"></i>
            </div>
            <p class="titulo">¿No sabes cuánto estás gastando en luz, gas o agua?</p>
            <p>Deja de llevarte sorpresas desagradables en tus facturas. Monitoriza el consumo de energía y agua en tiempo real y recibe notificaciones cuando algo no vaya bien. ¡Toma el control de tus gastos y evita sustos a fin de mes!</p>
          </div>
        </div>

  </div>
