<!--
<separador-civitech title='Domótica' ></separador-civitech> -->
<banner-civitech imageUrl='/../../../assets/images/domotica_banner.png' mensaje="Convierte tu hogar en un espacio inteligente" textoBoton="Contáctanos"  urlBoton="/contactanos" ></banner-civitech>

<!-- banner rojo -->
<div class="container-fluid d-flex proyectos-content">
  <div class="justify-content-center align-items-center">
    <h1>DOMÓTICA</h1>
    <p>Haz de tu hogar un lugar más inteligente con nuestras soluciones</p>
    <button class="boton-proyectos" (click)="navigate()">Conoce más acerca de nosotros</button>
  </div>
</div>
<!-- fin banner rojo -->

<domotica-civitech></domotica-civitech>

<!-- banner cocina -->
<tecnologia-civitech mensaje="Vive la experiencia de un hogar automatizado" boton="Ver Proyectos" urlBoton="/proyectos"></tecnologia-civitech>
<mensaje-civitech></mensaje-civitech>


