<div class="video-hero-container" data-aos="fade-down">
  <!-- Video Background -->
  <video #videoHero autoplay loop muted playsinline [muted]="true" onloadedmetadata="this.muted = true"
    oncanplay="this.play()" class="hero-video">
    <source src="/assets/videos/domotica_final.mp4?v=local" type="video/mp4">
  </video>

  <!-- Dark Overlay (Neutral) -->
  <div class="hero-overlay"></div>

  <!-- Content -->
  <div class="hero-content justify-content-center align-items-center">
    <h1>Domótica en Zaragoza</h1>
    <p>Transformamos tu vivienda en Zaragoza en un hogar inteligente con nuestras soluciones</p>
    <button class="boton-proyectos" (click)="navigate()">Conoce más acerca de nosotros</button>
  </div>
</div>
<domotica-civitech data-aos="fade-up"></domotica-civitech>
<tecnologia-civitech data-aos="fade-up" mensaje="Vive la experiencia de un hogar automatizado" boton="Ver Proyectos"
  urlBoton="/proyectos"></tecnologia-civitech>
<mensaje-civitech data-aos="fade-up"></mensaje-civitech>