<banner-civitech imageUrl='../../../assets/images/contact_3.jpg' mensaje="Transforma tu espacio con Civitech: Profesionales en domotica e IoT" textoBoton="Contactanos"></banner-civitech>

<separador-civitech title='Acerca de nosotros' ></separador-civitech>

<div class="mision-content">
  <div class="container-mision">
    <div class="items">
      <h4 class="mision-title">Nuestra Misión</h4>
      <p>En Civitech, nuestra mision es facilitar la integración de la domótica en hogares y negocios mediante soluciones tecnológicas innovadoras y personalizadas, basadas en Home Assistant y otros sistemas abiertos. Nos enfocamos en ofrecer instalaciones rápidas, sin obras y con la mayor flexibilidad para que nuestros clientes ahorren energía, mejoren su seguridad y aumenten su comodidad. Apostamos por la transparencia, la independencia de fabricantes, la evolución constante de nuestras soluciones y un mundo mas sostenible. Juntos, trabajamos por un futuro más eficiente, donde la innovación y la responsabilidad social se unen para ofrecer soluciones habitacionales que marquen la diferencia.</p>
    </div>
   </div>
</div>

<div class="beneficios-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 ">
          <div class="row container-card">
            <div class="col-md-1"></div>
            <div class="col-md-4 card-beneficio">
              <div class="container-icon-beneficio">
                <i class="fas fa-rocket"></i>
              </div>
              <p class="titulo">Innovación y evolución</p>
              <p>Siempre al día con las últimas tecnologías para mejorar la experiencia del usuario. </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 card-beneficio">
              <div class="container-icon-beneficio">
                <i class="fas fa-bullhorn"></i>
              </div>
              <p class="titulo">Sin obras ni complicaciones</p>
              <p>Instalaciones limpias, rápidas, modulares y sin modificaciones. </p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row container-card">
            <div class="col-md-1"></div>
            <div class="col-md-4 card-beneficio">
              <div class="container-icon-beneficio">
                <i class="fas fa-bolt"></i>
              </div>
                <p class="titulo">Ahorro energético y sostenibilidad</p>
                <p>Monitoriza, optimiza y reduce el consumo eléctrico. </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 card-beneficio">
              <div class="container-icon-beneficio">
                <i class="fas fa-house-signal"></i>
              </div>
              <p class="titulo">Flexibilidad y escalabilidad</p>
              <p>No dependemos de un solo fabricante y podemos adaptar cualquier sistema a medida. </p>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="col-md-5 mensaje-beneficio">
          <div class="container-mensaje">
              <i class="fas fa-quote-left"></i>
              <h1>¿Que beneficios tendrás en tu hogar?</h1>
              <p>Con Civitec, tu hogar será más cómodo, seguro y eficiente. Controla luces, persianas, calefacción y alarmas desde una app, ahorra energía con automatizaciones inteligentes y refuerza la seguridad con cámaras y sensores. Instalación sin obras, flexible y escalable para adaptarse a tu estilo de vida. ¡Tu hogar inteligente sin complicaciones!</p>
            </div>
        </div>
      </div>
    </div>

</div>
<!-- <separador-civitech title='Domótica' ></separador-civitech> -->
<!--
<carrousel-opiniones-civitech></carrousel-opiniones-civitech> -->


<tecnologia-civitech></tecnologia-civitech>

<mensaje-civitech></mensaje-civitech>

<separador-civitech title='Lo que opinan de nosotros' ></separador-civitech>

<carrousel-opiniones-civitech  [opiniones]="opiniones" ></carrousel-opiniones-civitech>
