@import "../../../styles.scss";

/*---------------------------------------------------SECCION DE MISION------------------------------------------------*/

.mision-content
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container-mision{
 width: 45%;
}

.items{
text-align: center;
}
.items p{
  margin-top: 50px;
}
.mision-title
{
  font-size: 30px;
  font-weight: bold;
}

.mision-title::after {
  content: "";
  display: block;
  width: 50px; /* Ajusta el ancho de la línea */
  height: 6px; /* Ajusta el grosor de la línea */
  background-color: $primary-color; /* Color rojo */
  border-radius: 5px; /* Bordes redondeados */
  margin: 8px auto 0; /* Espaciado desde el título */
}
/*-------------------------------------------------SECCION DE BENEFICIOS---------------------------------------------*/
.beneficios-content
{
  // margin-top: 50PX;
  padding-top: 50px;
  // padding-bottom: 50px;
  align-items: center;
    display: flex;
  justify-content: center;
}
.card-beneficio
{
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1); /* Sombra difusa */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-card
{
  display: flex;
  margin-bottom: 50px;
  padding-left: 50px;
}
.card-beneficio .titulo
{
  color: $primary-color;
  font-weight: bold;
}
.container-icon-beneficio i {
  font-size: 2rem; /* Ajusta el tamaño */
  color: $text-color-primary;
  margin-bottom: 10px; /* Añade espacio */
  padding: 15px;
  // border: 1px solid black;
  // border-radius: 50px;
}
.card-beneficio:hover {
  transform: translateY(-5px); // Efecto sutil al pasar el mouse
}
/*----------------------------------------------------SECCION MENSAJE BENEFICIO---------------------------------------------*/

.container-mensaje {
  width: 80%; /* Ajusta el ancho del contenido */
padding-bottom: 100px;
  // margin: 0 auto;
}

.mensaje-beneficio
{
  background-image: url('../../../assets/images/home_circuloAmarillo2.png');
  text-align: center;
  background-size: cover;
  flex-direction: column;
  box-sizing: border-box;

  place-content: center center;
  display: flex;
  padding-top:50px ;
  justify-content: center; /* Centra horizontalmente */
}

.mensaje-beneficio h1
{
  font-size: 60px;
  text-align: left !important;
}

.fa-quote-left, .fa-quote-right {
  font-size: 110px; /* Tamaño grande */
  color: #B70000; /* Rojo guinda */
  border: none;
}

.container-mensaje p {
  margin-top: 50px;
  text-align: left !important;
}

.card-primero-beneficio
{
  display: flex;
  padding-left: 20px;
}

